*{
    font-family:monospace;
    text-align: center;
    color: white;
}
body{
	background: linear-gradient(-45deg, #36df20, #483ac5,#1fd5e0,#e39d1c);
	animation: ease bg infinite 15s;
	background-size: 400% 400%;
	height:100vh;

}
fieldset{
    display:inline;
    font-size: 20px;
    border:solid 3px white;
}
#collegeName{
    margin-left: 18px;
}
#costPerApp{
    margin-left: 8px;
}
#tuition{
    margin-left: 17px;
}
th{
    font-size: 30px;
    border: solid 3px white;
}
td{
    border:solid 3px white;
    font-weight: bold;
}
table{
    border-collapse: collapse;
    margin-right:auto;
    margin-left:auto;
}
h1{
    font-size: 30px;
}
input{
    border:solid 1px black;
    color: black;
}
button{
    font-size: 30px;
    border: 1px solid white;
    background-color:rgba(0, 0, 0, 0);
    border-radius: 5%;
}
button:hover{
    transition: .3s ease-in-out;
    font-size:35px;
    border-radius: 10%;
}
@keyframes bg{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
hr{
    border:solid 2px white;
}
